    * {
        text-align: center;
        color: white;
        font-family: 'Shadows Into Light', cursive;
    }

    body {
        background-color: rebeccapurple;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Fredoka One', cursive;
    }

    h1 {
        color: powderblue;
    }

    h2 {
        color: palegoldenrod;
    }

    ul {
        list-style-type: none;
    }

    li {
        font-size: 1.1rem;
    }

    img {
        padding-top: 1em;
        border-radius: 10px;
    }

    img:hover {
        transform: scale(2);
    }

    footer {
        position: fixed;
        left: 45%;
        bottom: 2vh;
        box-sizing: content-box;
    }